.profileSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}
.profileSection img{
    width: 100px;
    height: auto;
    border-radius: 5px;
}

.buttonGroup{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.emailEdit{
    font-size: 14px;
    border: "1px solid #ccc";
    border-radius: 4px;
    background-color: rgba(30, 35, 100, 0.213);
}
.logoutButton{
    margin-top: 10px;
    background-color: red;
}