.buttonAdvisorPanelSection {
    display: grid; /* Use a grid layout */
    grid-template-columns: repeat(2, 1fr); /* Creates two columns */
    gap: 50px; /* Adds spacing between buttons */
    justify-content: center; /* Centers the grid horizontally */
    align-items: center; /* Centers the grid vertically */
    width: 70%; /* Adjusts the width of the button container */
    margin: 0 auto; /* Horizontally centers the section within its parent */
    box-sizing: border-box; /* Ensures padding is included in width/height */
}

.innerAdvisor {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
    url("../assets/libraryBilkent.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.buttonAdvisorPanelSection button {
    border:0;
    border-radius: 5px; /* Rounded corners for buttons */
    color: white; /* Button text color */
    background-color: rgb(30, 30, 100); /* Button background color */
    font-family: Arial, sans-serif; /* Button font */
    font-size: x-large; /* Large font size */
    font-weight: bold;
    width: 100%; /* Button width */
    height: 15vh; /* Button height */
    padding: 5%;
}

.buttonAdvisorPanelSection button:hover {
    background-color: rgb(19, 19, 70);
}

.leftSideAdvisor{
    height: 100%;
    background-color: rgb(60, 60, 130);
}
