.regChoicePage {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Ensures header and contact section stay in place */
    height: 100vh; /* Full height of the viewport */
    width: 100%; /* Full width */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
    url("../assets/bilkent_image.png");
}
.buttonRegChoiceSection {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 0;
    margin-bottom: 75px;
    display: flex;
    vertical-align: middle;
    justify-content: center; /* Centers buttons horizontally */
    align-items: center; /* Ensures buttons are vertically aligned in the section */
    gap: 5vw; /* Adds space between the buttons */
    flex-grow: 1; /* Allows this section to expand and center vertically */
}
