.mainHeader {
    background-color: rgb(30, 30, 100);
    padding: 20px;
}

.mainHeaderContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(30, 30, 100);
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
}

.mainHeaderTextSection {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-grow: 1;
    font: Arial;
    font-family: sans-serif;
    padding-left: 100px;
    padding-right: 20px;
}

.mainHeaderTextSection .bilkentLogo {
    width: 100px;
    height: auto;
}

.mainHeaderTextSection h1 {
    margin: 0;
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.mainHeaderTextSection h2 {
    margin: 0;
    color: white;
    font-size: 20px;
    font-weight: normal;
}

.mainHeaderButtonSection {
    display: flex;
    gap: 15px;
    justify-content: flex-end;
    font: Arial;
    font-family: sans-serif;
    align-items: center;
    padding-left: 20px;
    padding-right: 100px;
    margin-left: 100px;
}