.mainHeader {
    background-color: rgb(30, 30, 100);
    padding: 10px;
}

.mainHeaderContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(30, 30, 100);
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
}

.mainHeaderTextSection {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    font: Arial;
    font-family: sans-serif;
    margin-left: 5%;
}

.mainHeaderTextSection .bilkentLogo {
    width: 100px;
    height: auto;
}

.mainHeaderTextSection h1 {
    margin: 0;
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.mainHeaderTextSection h2 {
    margin: 0;
    color: white;
    font-size: 20px;
    font-weight: normal;
}

.mainHeaderButtonSection {
    display: flex;
    gap: 10%;
    justify-content: flex-end;
    font: Arial;
    font-family: sans-serif;
    align-items: center;
    margin-right: 5%;
}