.mainButton {
    cursor: pointer;
    padding: 10px 30px;
    border: none;
    border-radius: 8px;
    background-color: rgb(30, 30, 100);
    color: white;
    font-weight: bold;
    font-size: larger;
}

.mainButton:hover {
    background-color: rgb(21, 21, 70);
}