/* Global styles for form input elements */
.form-input-global {
    display: flex;
    align-items: center; /* Vertically align items in the center */
    justify-content: center;
    width: 450px;
    height: auto;
    border-radius: 5px;
    gap: 5px;
}

.form-input-global .box {
    display: flex; /* Use Flexbox for alignment */
    align-items: center; /* Vertically center the content */
    justify-content: center; /* Horizontally center the content */
    width: 200px;
    height: auto;
    padding: 12px; /* Add padding around the box */
    border:0;
    border-radius: 5px; /* Optional rounded corners */
    background-color: rgb(30, 35, 100); /* Background color for the box */
}

.form-input-global p {
    font-family: 'Arial', sans-serif;
    color: white;
    margin: 0; /* Remove default margin for precise alignment */
    font-size: 1rem; /* Ensure consistent font size (optional) */
    line-height: 1; /* Set line-height to avoid extra spacing */
}

.form-input-global input {
    min-width: 200px;
    height: auto;
    width: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}