.headerGlobal {
    background-color: rgb(30, 30, 100);
    padding: 20px;
    max-height: 120px;
}

.headerGlobalContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(30, 30, 100);
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
}

.headerGlobalTitle {
    display: flex;
    align-items: center; /* Vertically center the text within this container */
    justify-content: center; /* Horizontally center (useful for block-like elements) */
    margin-right: 5%;
    font-family: 'Arial', sans-serif;
    height: 100%; /* Make it take full height of the header */
    color:white;
}

.headerGlobalText {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    font: Arial;
    font-family: sans-serif;
    margin-left: 5%;
    padding-left: 2px;
}

.headerGlobalText .bilkentLogo {
    width: 100px;
    height: auto;
}

.headerGlobalText h1 {
    margin: 0;
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.headerGlobalText h2 {
    margin: 0;
    color: white;
    font-size: 20px;
    font-weight: normal;
}

.bilkentButton {
    display: flex; /* Ensures content inside the button is aligned */
    justify-content: center; /* Centers the profile image horizontally */
    align-items: center; /* Centers the profile image vertically */
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: none; /* Removes button border */
    background: none; /* Removes background styling */
    cursor: pointer; /* Adds a pointer cursor */
    padding: 0; /* Removes extra padding */
}