.headerPanelGlobal {
    background-color: rgb(30, 30, 100);
    padding: 15px;
    max-height: 120px;
    display:flex; /* Enable Flexbox for horizontal layout */
    justify-content: space-between; /* Space between the left and right sections */
    align-items: center;
}

.headerPanelGlobalTitle {
    display: flex;
    align-items: center; /* Vertically center the text within this container */
    justify-content: center; /* Horizontally center (useful for block-like elements) */
    margin-right: 15%;
    font-family: 'Arial', sans-serif;
    height: 100%; /* Make it take full height of the header */
    color:white;
}

.headerPanelGlobalText {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: large;
    font: Arial;
    font-family: sans-serif;
    margin-left: 5%;
}

.headerPanelGlobalText .bilkentLogo {
    width: 100px;
    height: auto;
}

.headerPanelGlobalText h1 {
    margin: 0;
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.headerPanelGlobalText h2 {
    margin: 0;
    color: white;
    font-size: 20px;
    font-weight: normal;
}

.profileButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 5%;
}

.profile {
    width: 80px;
    height: auto;
    border-radius: 50%;
}
